[Unit]
Description=Intel BMC At Scale Debug
Requires=network-online.target

[Service]
Restart=always
RestartSec=30
ExecStart={bindir}/asd $TLS_ENABLE_FLAGE
Type=simple
SyslogIdentifier=asd
#StandardOutput=tty
#StandardError=tty

[Install]
WantedBy=multi-user.target

