[Unit]
Description=Check for AC boot
After=xyz.openbmc_project.Settings.service
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=oneshot
ExecStart=/usr/bin/ac-boot-check.sh
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
