[Unit]
Description=Check for kernel panic
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=oneshot
ExecStart=/usr/bin/kernel-panic-check.sh
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
