CONFIG_REGMAP_I3C=y
CONFIG_I3C=y
CONFIG_I3CDEV=y
# CONFIG_I3C_MUX_IMX3102 is not set
CONFIG_I3C_HUB=y
CONFIG_I3C_DEBUG=y
CONFIG_I3C_MCTP=y
CONFIG_I3C_MCTP_HDR_DDR=y
CONFIG_I3C_TARGET_MCTP=y
CONFIG_DW_I3C_MASTER=y
# CONFIG_AST2600_I3C_MASTER is not set
